argocd_domain        = "argocd.cantalay.com"
keycloak_issuer      = "https://auth.cantalay.com/realms/talay"
environments_repo_url = "https://github.com/cantalay/talay-environments.git"
charts_repo_url      = "https://github.com/cantalay/talay-helm-charts.git"
