argocd_domain        = "argocd.cantalay.com"
oidc_enabled         = true
keycloak_issuer      = "https://auth.cantalay.com/realms/monitoring"
environments_repo_url = "https://github.com/cantalay/talay-environments.git"
charts_repo_url      = "https://github.com/cantalay/talay-helm-charts.git"
